div.baseForm

	b-container

		b-alert(
			:variant="alert.type",
			dismissible,
			fade,
			:show="alert.show",
			@dismissed="alert.show=false",
		) {{ alert.text }}
		
		h4.spotair-title.text-center {{ model.toUpperCase() }}
	
		b-tabs(v-model='mutableInitialTab')
		
			b-tab(title="Modifier", v-on:click="selectModifyForm")
				v-select.selector(
					:options="selectOptions",
					label="text",
					@input="initForm",
					v-model="selection",
					:loading='isLoading',
				)
				b-form(v-if="selection")
					block input
					b-container.text-center
						b-button-group
							block additionalModifyActions
							b-button(type="button", variant="outline-warning", v-on:click="updateButtonClicked") Update
							b-button(type="button", variant="outline-danger", v-on:click="removeButtonClicked") Delete
							b-button(type="button", variant="outline-success", v-on:click="resetButtonClicked") Reset
				
			b-tab(title="Nouveau", v-on:click="selectNewForm")
				b-form(v-if="selection")
					block input
					b-container.text-center
						b-button-group
							b-button(type="button", variant="outline-primary", v-on:click="addButtonClicked") Add
							b-button(type="button", variant="outline-success", v-on:click="resetButtonClicked") Reset

			b-tab(title="Fusioner", v-on:click="selectFusionForm")
				v-select.selector(
					:options="selectOptions",
					label="text",
					@input="initForm",
					v-model="selection",
					:loading='isLoading',
				)
				b-form(v-if="selection")
					b-form-group(
						label="Fusioner avec :",
						label-for="targetFusion",
						invalid-feedback="fusion target invalid",
						:state="checkValidityState($v.fusionTarget)"
					)
						v-select(
							id="targetFusion",
							:options="selectOptions",
							label="text",
							v-model="fusionTarget",
							:state="checkValidityState($v.fusionTarget)",
							:loading='isLoading',
						)
					b-container.text-center
						b-button-group
							b-button(type="button", variant="outline-danger", v-on:click="fusionButtonClicked") Fusion
							b-button(type="button", variant="outline-success", v-on:click="resetButtonClicked") Reset
